<!DOCTYPE html>
<html lang="en">
<%- include ('../layouts/header'); -%>

<body>
  <!-- Navigation-->
  <%- include ('../layouts/nav'); -%>
  <!-- Page Header-->
  <header class="masthead-driver-background masthead">
    <div class="container position-relative px-8 px-lg-8">
      <div class="row gx-6 gx-lg-8 justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-10">
          <div class="site-heading">
            <h1>Under Construction</h1>
            <!-- <span class="subheading">Create an appointment</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <%- include ('../layouts/footer.ejs'); -%>
  <%- include ('../layouts/scripts.ejs'); -%>
</body>

</html>
