<form class="bookAppointment"
  action="/drivers/bookAppointment#personal"
  method="POST">
  <!-- DATE PICKER -->
  <div class="calendar-container">
    <div class="calendar-item">
      <div class='log-event'
        id='inlinePicker'>
      </div>
    </div>
    <div class="btn-appointment-add-item">
      <button type="submit"
        id="btn-add-appointment"
        class="btn btn-outline-primary"
        data-aos="flip-up">Book appointment</button>
    </div>
    <div class="list-appointment-slots-item"
      data-bs-toggle="tooltip"
      title="Slots added by admin user are visible here">
      <div class="btn-group appointment-slot-list">
        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option1"
          autocomplete="off"
          value="09:00"
          disabled />
        <label class="btn btn-outline-primary"
          for="option1">09:00 - 09:30</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option2"
          autocomplete="off"
          value="09:30"
          disabled />
        <label class="btn btn-outline-primary"
          for="option2">09:30 - 10:00</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option3"
          autocomplete="off"
          value="10:00"
          disabled />
        <label class="btn btn-outline-primary"
          for="option3">10:00 - 10:30</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option4"
          autocomplete="off"
          value="10:30"
          disabled />
        <label class="btn btn-outline-primary"
          for="option4">10:30 - 11:00</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option5"
          autocomplete="off"
          value="11:00"
          disabled />
        <label class="btn btn-outline-primary"
          for="option5">11:00 - 11:30</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option6"
          autocomplete="off"
          value="11:30"
          disabled />
        <label class="btn btn-outline-primary"
          for="option6">11:30 - 12:00</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option7"
          autocomplete="off"
          value="12:00"
          disabled />
        <label class="btn btn-outline-primary"
          for="option7">12:00 - 12:30</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option8"
          autocomplete="off"
          value="12:30"
          disabled />
        <label class="btn btn-outline-primary"
          for="option8">12:30 - 13:00</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option9"
          autocomplete="off"
          value="13:00"
          disabled />
        <label class="btn btn-outline-primary"
          for="option9">13:00 - 13:30</label>

        <input type="radio"
          class="btn-check"
          name="appointmentTime"
          id="option10"
          autocomplete="off"
          value="13:30"
          disabled />
        <label class="btn btn-outline-primary"
          for="option10">13:30 - 14:00</label>
      </div>
    </div>
  </div>
</form>
